spring:
  application:
    name: gesticar-backend
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/gesticar}
    username: ${DB_USERNAME:gesticar}
    password: ${DB_PASSWORD:gesticar}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc.lob.non_contextual_creation: true
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
server:
  port: ${PORT:8080}
